<h1>Editing audio post</h1>

<%= render "form", audio_post: @audio_post %>

<br>

<div>
  <%= link_to "Show this audio post", @audio_post %> |
  <%= link_to "Back to audio posts", audio_posts_path %>
</div>
