<p style="color: green"><%= notice %></p>

<h1>Audio posts</h1>

<div id="audio_posts">
  <% @audio_posts.each do |audio_post| %>
    <%= render audio_post %>
    <p>
      <%= link_to "Show this audio post", audio_post %>
    </p>
  <% end %>
</div>

<%= link_to "New audio post", new_audio_post_path %>
