<p style="color: green"><%= notice %></p>

<center>
<h1>Different artists posts so far</h1>
</center>
<br>
<br>
<br>

<div id="artists_posts">
  <% @artists_posts.each do |artists_post| %>
    <%= render artists_post %>
    <p>
      <%= link_to "Show this artists post", artists_post %>
    </p>
  <% end %>
</div>

<%= link_to "New artists post", new_artists_post_path %>

<style>
  h1{
    font-size: 70px;
    text-decoration: underline;
  }
</style>