<h1>Editing artist post</h1>

<%= render "form", artist_post: @artist_post %>

<br>

<div>
  <%= link_to "Show this artist post", @artist_post %> |
  <%= link_to "Back to artist posts", artist_posts_path %>
</div>
