<p style="color: green"><%= notice %></p>

<h1>Artist posts</h1>

<div id="artist_posts">
  <% @artist_posts.each do |artist_post| %>
    <%= render artist_post %>
    <p>
      <%= link_to "Show this artist post", artist_post %>
    </p>
  <% end %>
</div>

<%= link_to "New artist post", new_artist_post_path %>
